/* .blogList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */

.blogList {
  display: grid;
  grid-template-columns: 650px 650px;
  grid-gap: 5px 10px;
  justify-content: center;
}

@media only screen and (max-width: 1200px) {
  .blogList {
    grid-gap: 0px 0px;
    grid-template-columns: 550px 550px;
  }
}

@media only screen and (max-width: 1000px) {
  .blogList {
    grid-gap: 0px 0px;
    grid-template-columns: 450px 450px;
  }
}

@media only screen and (max-width: 800px) {
  .blogList {
    grid-gap: 0px 0px;
    grid-template-columns: 350px 350px;
  }
}

@media only screen and (max-width: 600px) {
  .blogList {
    grid-template-columns: 100%;
  }
}

.blog {
  min-width: 300px;
  padding: 1rem;
  margin-bottom: 2rem;
  text-align: center;
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 800px) {
  .blog {
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
  }
}

.postButtons {
  display: flex;
  gap: 10px;
  justify-self: center;
  align-items: center;
  margin-top: 1rem;
}

.postButtons button {
  border-radius: 5px;
  padding: 0.5rem;
}

@media only screen and (max-width: 600px) {
  .postButtons button {
    padding: 0.2rem;
  }
}

.youtubeContainer {
  border: none;
  overflow: hidden;
  width: 50%;
  /* Keep it the right aspect-ratio */
  aspect-ratio: 16/9;
  /* No clicking/hover effects */
  /* pointer-events: none; */
}

.youtubeContainer iframe {
  /* Extend it beyond the viewport... */

  width: 300%;
  height: 100%;
  /* ...and bring it back again */
  margin-left: -100%;
}

.beatTitle {
  font-weight: 900;

  text-transform: uppercase;
}

.beatBpm {
  color: #535bf2;
}

.beatKey {
  color: #535bf2;
}

.postDetails {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}

.column {
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-weight: 500;
}

.sucess {
  background-color: lightgreen;
}

.info {
  font-size: 0.7rem;
}

form {
  width: 400px;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
}

.loading {
  width: 100%;
  margin: 0 auto;
}
