.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 900;
  font-size: 0.9rem;
  text-transform: uppercase;
  padding: 1rem 0;
  letter-spacing: 2px;
}

@media only screen and (max-width: 600px) {
  .navbar {
    padding: 2rem 0;
    flex-direction: column;
    gap: 20px;
    line-height: 0px;
    font-size: 0.8rem;

    /* border: 0.5px solid #eee; */
  }
}

.logo {
  font-family: "Bangers", cursive;
  font-size: 3rem;
}

.brand {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
  padding: 1rem;
  border: 4px dashed white;
  font-weight: 700;

  /* border-radius: 50%; */
}

.links_list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-color: #000;
}

.active {
  color: #fff;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  list-style: none;
}

@media only screen and (max-width: 600px) {
  .menu {
    padding: 1rem 0;
    gap: 2rem;
  }
}

.logoutBtn {
  padding: 0.4rem;
  margin-top: 0.5rem;
}

.userInfo {
  /* background-color: #242424; */
  /* border: 2px solid #fff; */

  padding: 0.2rem;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 0px;
  font-size: 0.6rem;
}

@media only screen and (max-width: 600px) {
  .userInfo {
    line-height: 0px;
    font-size: 0.5rem;
  }
}
